@tailwind base;
@tailwind components;
@tailwind utilities;

.arrowAnimation{
  animation: move 1s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}